<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>LATE-19's Books</h1>
    <a href="/book_list.html/"><button>BOOKS STORE</button></a>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong>
                <span class="author">by {{ book.author }}</span>
                <span class="published_date">Published on: {{ book.published_date }}</span>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
